.dark-mode .blog-header:hover {

}

.light-mode .blog-header:hover  {

}

.dark-mode .blog-title:hover {
    
}

body {
    padding-bottom: 10px;
}

.blog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: thick double black;
    padding: 15px;
}

.blog-header:hover {
    border-bottom: thick double red;
    background-color: beige;
    transition: 1s;
}

.blog-header button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    padding: 12px;
    margin-top: 1px;
    /* margin-bottom: 100px; */
    width: 100px;
    background-color: black;
    color: whitesmoke;
    opacity: 1;
    transition: border 0.5s;
}

.blog-header button:hover {
    background-color: gray;
    transition: background-color 0.5s;
}

#darkLight {
    width: 175px;
}

.blog-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 1;
}

.blog-title:hover {
    border: solid 5px lightcoral;
    background-color:lightyellow;
    transition: border 1s;
    transition: background-color 1.5s;
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
    
}

.blog-title h2 {
    border-bottom: solid black;
    padding-bottom: 20px;
}

.blog-title-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid black;
    margin-bottom: 15px;
    opacity: 1;
}

.blog-title-2:hover {
    border: solid 5px lightcoral;
    background-color:lightyellow;
    transition: border 1s;
    transition: background-color 1.5s;
}

.blog-title-2 h3 {
    border-bottom: solid black;
    padding-bottom: 20px;
}

.blog-title-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid black;
    margin-bottom: 15px;
    opacity: 1;

}

.blog-title-3:hover {
    border: solid 5px lightcoral;
    background-color:lightyellow;
    transition: border 1s;
    transition: background-color 1.5s;
}

.blog-title-3 h4 {
    border-bottom: solid black;
    padding-bottom: 20px;
}

.blog-title-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: solid black;
    margin-bottom: 15px;
    opacity: 1;
}

.blog-title-4:hover {
    border: solid 5px lightcoral;
    background-color:lightyellow;
    transition: border 1s;
    transition: background-color 1.5s;
}

.blog-title-4 h5 {
    border-bottom: solid black;
    padding-bottom: 20px;
}

footer:hover {
    background-color: beige;
    transition: 1s;
}

footer h6 {
    text-align: center;
    border-top: thick double black;
    padding-top: 15px;
}