.header {
    border-bottom: thick double black;
    padding: 20px;
    margin: 5px;
    background-color:bisque;
    display: flex;
    justify-content: end;
}

.header button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

.dark-mode header {
    background-color: darkslateblue;
}

.light-mode header {
    background-color:bisque;
}

.dark-mode body {
 background-color: maroon;
 color:blanchedalmond;
}

.light-mode body {
    background-color:bisque;
    color: black
}

.dark-mode footer {
    background-color: darkslateblue;
    color:bisque
}

.light-mode footer {
    background-color:bisque;
    color: black;
}

.left-header {
    border-right: thick double black;
    text-align: left;
    float: left;
    display: flex;
    justify-content: flex-start;
    padding: 225px;
    height: 150px;
    background-color: lightgoldenrodyellow;
}

.right-header {
    text-align: center;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 250px;
    padding: 175px;
    margin-bottom: 20px;
    background-color:lightgoldenrodyellow;
}

.right-header h2 {
    display: flex;
    justify-content: center;
}

#submit {
    width: 100%;
}

@media screen and (max-width: 768px) {
    #form-boxes {
        flex-direction: column;
    }
    
}

#form-boxes {
    text-align: top;
    /* text-align: start; */
    display: inline-block;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    padding: 15px;
}

#form-boxes div {
    padding: 5px;
}

#form-boxes label {
    text-align: start;
    display: flex;
    justify-content: flex-start;
    /* padding-right: 80px; */
}

#form-boxes input {
    font-size: 20px;
    width: 100%;
}

#form-boxes textarea {
    font-size: 15px;
}

#title {
    padding-right: 100px;
    padding-bottom: 5px;
}

#username {
    padding-right: 100px;
    padding-bottom: 5px;
}

#content {
    padding-right: 100px;
    padding-bottom: 50px;
    max-height: 200px;
    max-width: 200px;
}

#form-boxes textarea {
    width: 150px;
}

#form-boxes input {
    width: 150px;
}

footer {
    padding: 0px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: -20px;
    height: 100px;
    border-top: thick double black;
    background-color:bisque;
}